_study

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Prerequisites
*.d

# Static libraries
*.lai
*.la
*.a
*.lib

# Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

!tooling/*.exe
!test/_engine/*.exe

# MSVC debug and link artifacts
*.pdb
*.ilk
*.exp

# Precompiled Headers
*.gch
*.pch

# The bulk of my output
tmp/
.tmp/
*.tmp
*.off
*.old
*.prev
.junk/
*.junk
